.main-menu li {
    position: relative;
}

.main-menu li a {
    padding: 10px 10px;
}

.main-menu li a:hover {
    padding: 10px 10px;
    color: #000 !important;
}

.main-menu li::after {
    position: absolute;
    content: '';
    background: #ff384b;
    height: 4px;
    width: 0;
    left: 0;
    transition: .3s;
}

.main-menu li:hover::after {
    width: 100%;

}

.text-color {
    color: #ff384b;
}

.bg-color {
    background-color: #ff384b;
    border: 2px solid #ff384b;
}


/* Style the active class, and buttons on mouse-over */
.active,
.active-color:hover {
    color: black !important;
    border-bottom: 4px solid #ff384b;
    transition: all;
}